body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
}

.libraryContainer {
    background-color: dimgray;
    max-width: 1100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: auto;
}

.card {
    background-color: wheat;
    padding: 15px;
    border: 2px black solid;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#newBookBtn {
    background-color: green;
    color: white;
    font-size: 32px;
    padding: 0px 7px 0px 7px;
    margin-bottom: 10px;
}

#newBookForm {
    flex-direction: column;
    width: 300px;
    display: none;
}

#closeBtn {
    background-color: white;
    color: red;
    width: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 285px;
    bottom: 10px;

}

#newBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: aliceblue;
    margin-bottom: 15px;

}
#newBtn p {
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    margin-bottom: 15px;
}