body {
    background-color: darkgray;
}

.libraryContainer {
    background-color: dimgray;
    display: flex;
    justify-content: center;
}

.card {
    background-color: wheat;
    padding: 15px;
    border: 2px black solid;
    margin: 5px;
}

#newBookBtn {
    background-color: blue;
    color: white;
    font-size: 102px;
    padding: 15px;
}

#newBookForm {
    flex-direction: column;
    width: 300px;
    display: none;
}

#closeBtn {
    background-color: white;
    color: red;
    width: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 285px;
    bottom: 10px;
}